{% extends "admin/admin_base.html.twig" %}

{% block title %}Testimonials{% endblock %}

{% block content_header %}
    <h1>
        Appointments
        <small>All Appointments</small>
    </h1>
{% endblock content_header %}

{% block content %}
    <!-- Main content -->
    <section class="content">

        {% include 'admin/modals/add_testimonial.twig' %}
        {% include 'admin/modals/delete_testimonial.twig' %}
        {% include 'admin/modals/edit_testimonial.twig' %}
        {% include 'admin/modals/edit_testimonial_photo.html.twig' %}

        <div class="row">
            <a class="btn btn-app text-center btn-flat" data-toggle="modal" data-target="#add-testimonial">
                <i class="fa fa-plus"></i> New Appointment
            </a>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">All Appointments</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody><tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Product</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Created</th>
                            </tr>
                            {% for appt in appts %}
                                <tr>
                                    <td>{{ appt.date }}</td>
                                    <td>{{ appt.time }}</td>
                                    <td>{{ appt.product }}</td>
                                    <td>{{ appt.name }}</td>
                                    <td>{{ appt.address }}</td>
                                    <td>{{ appt.city }}</td>
                                    <td>{{ appt.state }}</td>
                                    <td>{{ appt.zip }}</td>
                                    <td>{{ appt.phone }}</td>
                                    <td>{{ appt.email }}</td>
                                    <td>{{ appt.created_at }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
{% endblock content %}

{% block js %}


{% endblock js %}